<app-header></app-header>
<div class="title">Sesamex</div>
<div class="homepage">
  <div class="container">
    <div class="row">
      <div *ngFor="let object of tableauObjects" class="col">
        <button type="button" class="btn btn-primary">{{ object.name }}</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"
          ><i class="bi bi-search" style="padding-right: 10px"></i
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div *ngFor="let s of sesamien" class="col mb-2">
                <div class="sesamien-container">
                    <div class="container">
                      <div class="row-sesam">
                        <div class="col-sesam">
                          <img src="../../assets/student.png" class="profile-picture" />
                        </div>
                        <div class="col-sesam">
                          <div class="sesamien-info">
                            <div>Nom : {{s.name}}</div>
                            <div>Prenom usuel : {{s.firstname}}</div>
                            <div>Age : {{s.age}}</div>
                            <div>Mention : {{s.mention}}</div>
                            <div>Genre : {{s.genre}}</div>
                            <div>Promotion : {{s.promotion}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="row-sesam mt-2">
                        <div class="col-sesam">
                          <div class="semestre-info">
                            <div class="title-semestre">Resultat Semestre 1</div>
                            <div>Moyenne Générale :</div>
                            <div>Classement :</div>
                          </div>
                        </div>
                      </div>
                      <div class="row-sesam mt-2">
                        <div class="col-sesam">
                          <div class="semestre-info">
                            <div class="title-semestre">Resultat Semestre 2</div>
                            <div>Moyenne Générale :</div>
                            <div>Classement :</div>
                          </div>
                        </div>
                      </div>
                      <div class="row-sesam mt-2">
                        <div class="col-sesam"></div>
                        <div class="col-sesam"></div>
                        <div class="col-sesam"></div>
                        <div class="col-sesam">
                          <div class="etat">Etat :</div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
