<div class="login-container">
    <img class="film" src="../../assets/logosesame.jpeg" alt="" />
    <div class="logo">SESAME Insights</div>
    <div class="login-form">
      <div class="form-group">
        <label for="uname">Username</label>
        <input
          type="email"
          name="usermail"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="pword">Password</label>
        <input
          type="password"
          name="pword"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <div class="btn-container">
        <div class="error">{{errorMsg}}</div>
        <div><a href="adduser">Sign in</a></div>
        <button class="btn btn-dark" (click)="login()">Login</button>
      </div>
    </div>
  </div>
  