<app-header></app-header>
<div class="title">Page de simulation</div>
<div class="sc-simulation">
  <div class="row">
    <div class="login-form">
      <div class="form-group">
        <select class="form-select" aria-label="Default select example" (change)="onSelectionChange($event)">
          <option [value]="'L'" [selected]="selectedValue === 'Littéraire'">Littéraire</option>
          <option [value]="'S'" [selected]="selectedValue === 'Scientifique'">Scientifique</option>
          <option [value]="'Transversale'" [selected]="selectedValue === 'Transversale'">Transvérsale</option>
        </select>
      </div>
      <div *ngFor="let object of tableauObjects" class="form-group">
        <label for="uname">{{object.name}}</label>
        <input type="text" name={{object.name}} class="form-control" />
      </div>
      <div class="btn-container">
        <button class="btn btn-dark">Simuler un résultat</button>
      </div>
    </div>
  </div>
</div>
