.title{
    position: absolute;
    top: 40px;
    right: 42%;  
    color: #CB2C30;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Creepster', cursive;
}

.sc-simulation .login-form {
    width: 500px;
    height: 940px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: -280px;
    right: 34%;
    box-shadow: 5px 5px 20px #383838;
  }
  
  .sc-simulation .login-form .form-group {
    margin-top: 5px;
  }
  
  .sc-simulation .login-form label {
    font-size: 12px;
  }
  
  .sc-simulation .login-form .btn-container {
    position: relative;
  }
  
  .sc-simulation .login-form .btn-container .btn {
    margin-top: 30px;
    background-color: #43B02A;
  }
  

  .sc-simulation .result-form {
    width: 500px;
    height: 630px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    box-shadow: 5px 5px 20px #383838;
    bottom: -650px;
    right: 34%;
  }
  
  .sc-simulation .result-form .result-group {
    margin-top: 5px;
  }
  
  .sc-simulation .result-form label {
    font-size: 12px;
  }
  
  .sc-simulation .result-form .btn-container {
    position: relative;
  }
  
  .sc-simulation .result-form .btn-container .btn {
    margin-top: 30px;
    background-color: #43B02A;
  }
  