<app-header></app-header>
<div class="title">Page de simulation</div>
<div class="sc-simulation">
  <div class="row">
    <div class="login-form">
      <div class="form-group">
        <select class="form-select" aria-label="Default select example">
          <option selected>Mention</option>
          <option value="1">Littéraire</option>
          <option value="2">Scientifique</option>
        </select>
      </div>
      <div class="form-group">
        <label for="uname">Note CC EC1</label>
        <input type="text" name="uname" class="form-control" />
      </div>
      <div class="btn-container">
        <button class="btn btn-dark">Simuler un résultat</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="result-form">
      <div class="result-group">
        <label for="uname">Résultat de la simulation</label>
      </div>
    </div>
  </div>
</div>
