<app-header></app-header>
<div class="title">Ajouter un utilisateur</div>
<div class="add-container">
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Nom</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="pword">Prenom</label>
      <input type="password" name="pword" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Identification</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Mot de passe</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Rôle</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Type de groupe en charge</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Unité d'Enseignement en Charge</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Adresse mail</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="uname">Numero de téléphone</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="btn-container">
      <button class="btn btn-dark">Valider</button>
    </div>
  </div>
</div>
